.ui.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    margin-top: 5%;
}

.u-mb {
    margin-bottom: 50px;
}

.u-pl {
    padding-left: 13px;
}

.u-pr {
    padding-right: 13px;
}

.empty-space {
    height: 3rem;
    width: 90%;
}
